<div class="header">
  <button 
    mat-button
    [ngClass]="{'selected' : searchType === SearchType.USER}"
    (click)="setSearchType(SearchType.USER)">
    User
  </button>
  <button 
    mat-button
    [ngClass]="{'selected' : searchType === SearchType.HASHTAG}"
    (click)="setSearchType(SearchType.HASHTAG)">
    Hashtag
  </button>
</div>
<div class="content">
  <div class="content_header">
    <app-tweet-lister-search [searchType]="searchType" (executeSearch)="search($event)"></app-tweet-lister-search> 
  </div>
  <div class="content_content">
    <div *ngIf="loading"class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>
    <app-tweet-lister [tweets]="tweets"></app-tweet-lister>
  </div>
  <div class="content_content">
    <app-tweet-lister-pagination
    [itemCount]="getTweetCount()"
    [perPage]="pageLimit"
    [page]="getPage()"
    (goToPage)="goToPage($event)"
    [nextPageAvailable]="!isTheEnd()"></app-tweet-lister-pagination>
  </div>
</div>